<!DOCTYPE HTML>
<html>

	<head>
		<title></title>
	</head>

	<body>
		<button id="deploy">发布</button>
		<button id="back" class="back">取消</button>
		<textarea>
			adf;alkdnf;lakdnfl;kandsf;lakdsnf;lkandsflkanlkdf
			as;dlkfna;ldkfna;ldskfn;alkdfn;alkfna;ld
		</textarea>
		<script src="static/js/common.js" type="text/javascript"></script>
	</body>

</html>